In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings

warnings.filterwarnings("ignore")

%matplotlib inline

In [3]:
df=pd.read_csv("cardekho_dataset.csv",index_col=[0])

In [4]:
df.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

# **Data cleaning**

In [5]:
## checking null value
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [6]:
## removing unnecessary column
df.drop('car_name',axis=1,inplace=True)
df.drop('brand',axis=1,inplace=True)

In [7]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [8]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [9]:
num_features = [feature for feature in df.columns if df[feature].dtype !='O']
print('num of nemerical features :',len(num_features))
cat_features = [feature for feature in df.columns if df[feature].dtype =='O']
print('num of categorical features :',len(cat_features))
discrete_features=[feature for feature in num_features if len(df[feature].unique())<=25]
print('num of discrete features :',len(discrete_features))
continuous_features=[feature for feature in num_features if feature not in discrete_features]
print('num of continuos features :',len(continuous_features))

num of nemerical features : 7
num of categorical features : 4
num of discrete features : 2
num of continuos features : 5

In [10]:
## independent and dependent features
from sklearn.model_selection import train_test_split
X=df.drop(['selling_price'],axis=1)
y=df['selling_price']

In [11]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [12]:
len(df['model'].unique())

120

In [13]:
df['model'].value_counts()

model
i20            906
Swift Dzire    890
Swift          781
Alto           778
City           757
              ...
Ghibli           1
Altroz           1
GTC4Lusso        1
Aura             1
Gurkha           1
Name: count, Length: 120, dtype: int64

In [14]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
X['model']=le.fit_transform(X['model'])

In [15]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [16]:
len(df['seller_type'].unique()),len(df['fuel_type'].unique()),len(df['transmission_type'].unique())

(3, 5, 2)

In [17]:
num_features = X.select_dtypes(exclude='object').columns
onehot_columns = ['seller_type','fuel_type','transmission_type']

from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')

preprocessor = ColumnTransformer(
    [
        ('OneHotEncoder',oh_transformer,onehot_columns),
        ('StandardScaler',numeric_transformer,num_features)
    ],remainder='passthrough'
)

In [18]:
X=preprocessor.fit_transform(X)

In [19]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,1.247335,-0.000276,-1.324259,-1.263352,-0.403022
1,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.225693,-0.343933,-0.690016,-0.192071,-0.554718,-0.432571,-0.403022
2,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.536377,1.647309,0.084924,-0.647583,-0.554718,-0.479113,-0.403022
3,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,-0.360667,0.292211,-0.936610,-0.779312,-0.403022
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.666211,-0.012060,-0.496281,0.735736,0.022918,-0.046502,-0.403022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.508844,0.983562,-0.869744,0.026096,-0.767733,-0.757204,-0.403022
15407,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.556082,-1.339555,-0.728763,-0.527711,-0.216964,-0.220803,2.073444
15408,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.407551,-0.012060,0.220539,0.344954,0.022918,0.068225,-0.403022
15409,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.426247,-0.343933,72.541850,-0.887326,1.329794,0.917158,2.073444
15410,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.024131,-1.339555,-0.825631,-0.407839,0.020999,0.395884,-0.403022

In [20]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=10)
X_train.shape,X_test.shape

((12328, 14), (3083, 14))

In [21]:
X_train

array([[ 1.        ,  0.        ,  0.        , ...,  0.21482334,
         0.06077845, -0.40302241],
       [ 1.        ,  0.        ,  0.        , ..., -0.5566368 ,
        -0.71182513, -0.40302241],
       [ 0.        ,  0.        ,  1.        , ...,  0.98436442,
         1.77819241, -0.40302241],
       ...,
       [ 1.        ,  0.        ,  0.        , ..., -0.5566368 ,
        -0.7113597 , -0.40302241],
       [ 0.        ,  0.        ,  1.        , ..., -0.16706862,
        -0.75836751, -0.40302241],
       [ 1.        ,  0.        ,  1.        , ..., -0.17282578,
        -0.2759557 , -0.40302241]])

# **Model Training And Model Selection**

In [22]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [23]:
## creating function to evaluate model
def evaluate_model(true,predicted):
  mae=mean_absolute_error(true,predicted)
  mse=mean_squared_error(true,predicted)
  rmse=np.sqrt(mean_squared_error(true,predicted))
  r2_square=r2_score(true,predicted)
  return mae,rmse,r2_square

In [24]:
models={
    "Linear Regression":LinearRegression(),
    "Lasso":Lasso(),
    "Ridge":Ridge(),
    "K-Neighbors Regressor":KNeighborsRegressor(),
    "Decision Tree":DecisionTreeRegressor(),
    "Random Forest":RandomForestRegressor(),
    "Adaboost Regressor":AdaBoostRegressor(),
    "Gradient BoostRegressor":GradientBoostingRegressor()
}
for i in range(len(list(models))):
  model=list(models.values())[i]
  model.fit(X_train,y_train)

  y_train_pred=model.predict(X_train)
  y_test_pred=model.predict(X_test)

  model_train_mae,model_train_rmse,model_train_r2=evaluate_model(y_train,y_train_pred)
  model_test_mae,model_test_rmse,model_test_r2=evaluate_model(y_test,y_test_pred)

  print(list(models.keys())[i])

  print('Model performance for training set')
  print('- Root Mean Squared Error: {:.4f}'.format(model_train_rmse))
  print('- Mean Absolute Error: {:.4f}'.format(model_train_mae))
  print('- R2 Score: {:.4f}'.format(model_train_r2))


  print('--------------------------------------------------------------')


  print('Model performance for testing set')
  print('- Root Mean Squared Error: {:.4f}'.format(model_test_rmse))
  print('- Mean Absolute Error: {:.4f}'.format(model_test_mae))
  print('- R2 Score: {:.4f}'.format(model_test_r2))

  print('='*35)
  print('\n')

Linear Regression
Model performance for training set
- Root Mean Squared Error: 478801.8476
- Mean Absolute Error: 260031.9512
- R2 Score: 0.6763
--------------------------------------------------------------
Model performance for testing set
- Root Mean Squared Error: 753414.8310
- Mean Absolute Error: 280915.9804
- R2 Score: 0.5123
===================================


Lasso
Model performance for training set
- Root Mean Squared Error: 478801.8527
- Mean Absolute Error: 260030.0543
- R2 Score: 0.6763
--------------------------------------------------------------
Model performance for testing set
- Root Mean Squared Error: 753414.0977
- Mean Absolute Error: 280914.8656
- R2 Score: 0.5123
===================================


Ridge
Model performance for training set
- Root Mean Squared Error: 478802.5439
- Mean Absolute Error: 260001.4870
- R2 Score: 0.6763
--------------------------------------------------------------
Model performance for testing set
- Root Mean Squared Error: 753427.8974
- Mean Absolute Error: 280894.8976
- R2 Score: 0.5122
===================================


K-Neighbors Regressor
Model performance for training set
- Root Mean Squared Error: 232140.0468
- Mean Absolute Error: 88358.6328
- R2 Score: 0.9239
--------------------------------------------------------------
Model performance for testing set
- Root Mean Squared Error: 584457.4886
- Mean Absolute Error: 118840.4801
- R2 Score: 0.7065
===================================


Decision Tree
Model performance for training set
- Root Mean Squared Error: 19593.3765
- Mean Absolute Error: 4814.6279
- R2 Score: 0.9995
--------------------------------------------------------------
Model performance for testing set
- Root Mean Squared Error: 400850.8543
- Mean Absolute Error: 131328.9491
- R2 Score: 0.8619
===================================


Random Forest
Model performance for training set
- Root Mean Squared Error: 94448.8116
- Mean Absolute Error: 38528.6318
- R2 Score: 0.9874
--------------------------------------------------------------
Model performance for testing set
- Root Mean Squared Error: 523176.0905
- Mean Absolute Error: 110194.1683
- R2 Score: 0.7648
===================================


Adaboost Regressor
Model performance for training set
- Root Mean Squared Error: 409389.5901
- Mean Absolute Error: 300416.6174
- R2 Score: 0.7633
--------------------------------------------------------------
Model performance for testing set
- Root Mean Squared Error: 667383.6927
- Mean Absolute Error: 308872.3241
- R2 Score: 0.6173
===================================


Gradient BoostRegressor
Model performance for training set
- Root Mean Squared Error: 205908.1527
- Mean Absolute Error: 111534.3234
- R2 Score: 0.9401
--------------------------------------------------------------
Model performance for testing set
- Root Mean Squared Error: 532019.9176
- Mean Absolute Error: 129819.5014
- R2 Score: 0.7568
===================================

In [25]:
rf_params={"max_depth":[5,8,15,None,10],
           "max_features":[5,7,"auto",8],
           "min_samples_split":[2,8,15,20],
           "n_estimators":[100,200,500,1000]}


gradient_params={"loss": ['squared_error', 'huber', 'absolute_error'],
                 "criterion": ['friedman_mse', 'squared_error', 'mse'],
                 "min_samples_split": [2, 8, 15, 20,],
                 "n_estimators": [100, 200, 500, 1000],
                 "max_depth": [5, 8, 15, None, 10],
                 "learning_rate": [0.1, 0.01,0.02,0.03]}

In [26]:
randomcv_models=[('RF',RandomForestRegressor(),rf_params),
                 ("GradientBoost",GradientBoostingRegressor(),gradient_params)]

In [27]:
## hyperparameter tuning
from sklearn.model_selection import RandomizedSearchCV

model_param={}
for name,model,params in randomcv_models:
  random=RandomizedSearchCV(estimator=model,
                            param_distributions=params,
                            n_iter=100,
                            cv=3,
                            verbose=2,
                            n_jobs=-1)
  random.fit(X_train,y_train)
  model_param[name]=random.best_params_

for model_name in model_param:
  print(f"---------------------------------Best Params for {model_name}------------------------------------")
  print(model_param[model_name])

Fitting 3 folds for each of 100 candidates, totalling 300 fits
Fitting 3 folds for each of 100 candidates, totalling 300 fits
---------------------------------Best Params for RF------------------------------------
{'n_estimators': 1000, 'min_samples_split': 2, 'max_features': 8, 'max_depth': None}
---------------------------------Best Params for GradientBoost------------------------------------
{'n_estimators': 1000, 'min_samples_split': 20, 'max_depth': 5, 'loss': 'squared_error', 'learning_rate': 0.02, 'criterion': 'friedman_mse'}

In [33]:
## retraining models with best parameters
models = {
    "Random Forest Regressor":RandomForestRegressor(n_estimators=200,min_samples_split=2,max_features=7,n_jobs=-1),
    "GradientBoost Regressor":GradientBoostingRegressor(n_estimators= 1000, min_samples_split= 20, max_depth= 5, loss= 'squared_error', learning_rate= 0.02, criterion= 'friedman_mse')
}
for i in range(len(list(models))):
  model=list(models.values())[i]
  model.fit(X_train,y_train)

  y_train_pred=model.predict(X_train)
  y_test_pred=model.predict(X_test)

  model_train_mae,model_train_rmse,model_train_r2=evaluate_model(y_train,y_train_pred)
  model_test_mae,model_test_rmse,model_test_r2=evaluate_model(y_test,y_test_pred)

  print(list(models.keys())[i])

  print('Model performance for training set')
  print('- Root Mean Squared Error: {:.4f}'.format(model_train_rmse))
  print('- Mean Absolute Error: {:.4f}'.format(model_train_mae))
  print('- R2 Score: {:.4f}'.format(model_train_r2))


  print('--------------------------------------------------------------')


  print('Model performance for testing set')
  print('- Root Mean Squared Error: {:.4f}'.format(model_test_rmse))
  print('- Mean Absolute Error: {:.4f}'.format(model_test_mae))
  print('- R2 Score: {:.4f}'.format(model_test_r2))

  print('='*35)
  print('\n')

Random Forest Regressor
Model performance for training set
- Root Mean Squared Error: 90149.6189
- Mean Absolute Error: 38004.6491
- R2 Score: 0.9885
--------------------------------------------------------------
Model performance for testing set
- Root Mean Squared Error: 542385.2461
- Mean Absolute Error: 107696.9147
- R2 Score: 0.7472
===================================


GradientBoost Regressor
Model performance for training set
- Root Mean Squared Error: 122324.5546
- Mean Absolute Error: 78772.1364
- R2 Score: 0.9789
--------------------------------------------------------------
Model performance for testing set
- Root Mean Squared Error: 482279.7374
- Mean Absolute Error: 106834.4097
- R2 Score: 0.8001
===================================